.box4{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
  }
  .btnLogout{
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:3px;
    border: #27ae60 1px solid;

    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }

  .btnLogout:hover{
    background:#2CC06B; 
  }
  .noteee{
    position: relative;
    display: flex;
    margin-left: 500px;
    margin: 40px;
    width: 240px;
    height: 196px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTddY8mxaGvWcVwZ08o7--hs0NbllYHUrUIXQ&usqp=CAU") ;
    background-repeat: no-repeat;
    background-size: contain;
}

.innerNoteee{
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 30px;
    max-width: 240px;
    font-size: medium;;
    font-weight: bold;
    color: Black;
}