.footer{
    background-color: rgba(0, 0, 0);
    position: fixed;
    left:0px;
    bottom:0px;
    height: 8.5vh;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0 0 10px 0 black;
    color: white;
  
  }

  .footer-left{
    display: flex;
    flex-direction: column;
  }