footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
  }

.linked {
  font-size: 1.4em;
  width: 50%;
  color:black
}

.linkedInPic{
  width: 50px;
  margin: 5px;
}