.btnLogout{
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:3px;
    border: #27ae60 1px solid;
    
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }

  .profile{
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
    margin: 40px;
    float: left;
    width: 60px;
  }

  .fa-user-circle{
    color: darkgoldenrod;
  }
  .profileText{
    color: darkgoldenrod;
    font-size: 17px;
    margin: 0;
    
  }
  .profileText2{
    color: black;
    font-size: 17px;
    margin: 0;
    font-style: oblique;
    text-decoration: underline;
  }

  .navLink{
    width:125px;
    padding-top:6px;
    padding-bottom:5px;
    border-radius:20px;
    margin:10px;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
    float: left;
  }