.box4{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
  }
  .btnLogout{
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:3px;
    border: #27ae60 1px solid;

    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }

  .btnLogout:hover{
    background:#2CC06B; 
  }
  